################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mathx_codegen/.vs/mathx_codegen/v16
/.vs
/mathx_codegen/Debug
